.body{
background-image: url('../../assets/wall.jpg');
}

.title{
    background-color: rgb(156, 156, 70);
     
    
}

h1{
font-size: 50px;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

h4{
    font-size: 60px;
    
}



#userinformation{
    background-color:rgb(156, 156, 100);
}

.float-centre{
    padding-top: 10px;
    scroll-padding-left: 10px;
    padding-right: 10px;
}