.title{
    background-color: rgb(109, 117, 105);
     
    
}

h1{
font-size: 50px;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}



#userinformation{
    background-color:rgb(156, 156, 108);
}

.float-centre{
    padding-top: 10px;
    scroll-padding-left: 10px;
    padding-right: 10px;
}